.body {
  font-family: 'Open sans', sans Serif, serif;
  color: #ffffff;;
  height: 100%;
  overflow: hidden;
}
.drag-menu {
  background: #1E1E1E;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-width: 425px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  transition: background .25s, transform .5s;
}
.drag-menu.closed {
  background: transparent;
  transform: translate(-50%, 80%);
}
.drag-menu.closed:hover {
background: #363636;
}

.drag-menu span {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.drag-area {
  cursor: pointer;
  padding: 20px 0;
}
.drag-line {
  margin: auto;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #c9c9c9;
}
.drag-item-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.drag-item {
  font-size: 20px;
  padding: 20px;
  margin-right: 40px;
  border-radius: 50%;
  background: #363636;
  transition: opacity .25s;
}
.drag-item:last-child {
  margin-right: 0;
}

.drag-item:hover {
  cursor: pointer;
  opacity: .5;
}
.drag-item.dangerous {
  background: #F16B6B;
}
.drag-item-icon {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
