<div class="body">
  <div class="drag-menu closed">
    <div class="drag-area">
      <div class="drag-line"></div>
    </div>
    <span>What do you want to do?</span>
    <div class="drag-item-container">
      <div class="drag-item">
        <div class="drag-item-icon">
          <i class="fas fa-comment"></i>
        </div>
      </div>
      <div class="drag-item">
        <div class="drag-item-icon">
          <i class="fas fa-share-alt"></i>
        </div>
      </div>
      <div class="drag-item dangerous">
        <div class="drag-item-icon">
          <i class="fas fa-trash"></i>
        </div>
      </div>
    </div>
  </div>
</div>
