.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  background: #092c3e;
  width: 200px;
  height: 100px;
  border-radius: 50px;
  outline: none;
  transition: background-color 0.3s;
  box-shadow: 0px 2px 5px 1px grey;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #fff;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
}

input[type="checkbox"]:checked {
  background: #ffffff;
  box-shadow: 0 0 0 1200px #092c3E;
  &::before {
    background-color: #092c3e;
    transform: translate(100%);
  }
}
